* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#to-do-head {
    width: 96%;
    margin: 0 auto;
    height: 80px;
}

#to-do-head h1 {
    line-height: 80px;
    border-bottom: 2px solid black;
}

#to-do-main {
    width: 96%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
    height: calc(100vh - 120px);
    position: relative;
}

body.not-active {
    transition: 0.2s;
    background-color: rgba(0,0,0,0.9);
}

#to-do-main ul {
    list-style-type: none;
}

.to-do-el {
    border-bottom: 1px solid black;
}

.to-do-el i {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    opacity: 0;
}

.to-do-el:hover i {
    opacity: 1;
    cursor: pointer;
}

.to-do-el i:hover {
    color: black;
}

.mod-to-do {
    display: none;
}

.mod-to-do.active {
    display: inline-block;
}

.to-do-text.hidden {
    display: none;
}

.fa-save {
    display: none;
}

.fa-save.on {
    display: inline-block;
}

.add-or-abort {
    border-radius: 50%;
    background-color: rgb(204,204,204);
    padding: 30px 35px;
    position: absolute;
    font-size: 35px;
}

#plus-to-do {
    bottom: 0px;
    right: 0px;
}

#abort {
    bottom: 0px;
    right: 100px;
    display: none;
    font-size: 15px;
}

#plus-to-do:hover, #abort:hover {
    cursor: pointer;
}

#abort.active {
    display: block;
}

#textbox-to-do {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: 100px;
    border: 1px solid black;
    font-size: 30px;
    display: none;
}

#textbox-to-do.active{
    display: block;
}
